body{
	background-image: url(../images/back.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;

}

.container{
	background-color: #001733;
	max-width: 500px;
	height: auto;
	border-radius: 15px;
}
.container-fluid{
	background-color: #001733;
	max-width: 1000px;
	height: auto;
	border-radius: 15px;
}
#up{
	margin-bottom: 10%;
    margin-right: 0px;
    margin-left: 0px;
}
#down{
	margin-top: 10%;
    margin-right: 0px;
    margin-left: 0px;
}

form{
	margin-top: 15%;
	margin-bottom: 15%;
	padding: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-bottom: 1px solid #0b6fbd;
    border-right:none;
    border-left:none;
    border-top:none;
}

.btn-primary {
    color: #fff;
    background-color: #0b6fbd;
    /* border-color: #2e6da4; */
}

#reg h2{
	color: #0b6fbd;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#reg h5{
	color: #999;
}
#dients form{
	padding-top: 41px;
}
#link {
	padding-bottom: 5%;
	padding-top: 0px;
}

#recy{
	padding: 30px 0px;
}

#recy h2{
	color: #0b6fbd;
	text-align: center;
	margin-bottom: 0px;
	padding: 10px;
	background-color: #012a5f;
	width: 70%;
	border-bottom: solid 1px black;
	border border-top-right-radius: 10px;
	border border-top-left-radius: 10px;
}

#recy h5{
	color: #dcdee1;
	padding-left: 25%;
	
}

#recy li{
	color: #dcdee1;
	
}
.bottle{
	background-color: #012a5f;
	border-radius: 20px;
	padding: 20px;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    

}

table li{
	color: #999;
}

td, th {
    border: 1px solid #0f66a0;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    /*background-color: #dddddd;*/
}
tr  th{
	color: #999;
}

.thod{
	margin-top:0px; 
	padding: 0px;
}
.ing{
	margin-top: 0px; 
	padding: 0px;
}
#less input{
	 width: 90%;
}
#myview{
	height:50px;
}
#viewrecy h2{
	 color: #0b6fbd;
}
#viewbottom{
	height:50px;
}
#index{
	margin-top: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
}
#index h2{
	color: #ddd;
}
