<!DOCTYPE html>
<html lang="en">
<head>
  <title>view</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='images/back.jpg') }}"> 
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>


<body>
<div class="row" id="up"></div>


<!-- start container -->

  <div class="container-fluid">

<div class="row" id="viewrecy">
  <div class="col-md-12" id="myview"></div>
  <center><h2>View recipes</h2></center>
</div>

     <div class="row" >
       <div class="col-md-1"></div>

       <div class="col-md-10" id="reg">
         <table class="tbl">
  <tr>
    <th>Method</th>
    <th>Ingridients</th>
    <th>Action</th>
  </tr>
  <tr>

  </tr>
  <tr>
    <td>
       <ol type="1">
         <li>Lorem ipsum dolor sit amet, consectetur</li>
         <li>Lorem ipsum dolor sit amet, consectetur</li>
         <li>Lorem ipsum dolor sit amet, consectetur</li>
         <li>Lorem ipsum dolor sit amet, consectetur</li>
         <li>Lorem ipsum dolor sit amet, consectetur</li>
         <li>Lorem ipsum dolor sit amet, consectetur</li>
         <li>Lorem ipsum dolor sit amet, consectetur</li>
         <li>Lorem ipsum dolor sit amet, consectetur</li>
       </ol>
    </td>
    
    <td>
       <ol type="1">
         <li>consectetur</li>
         <li>consectetur</li>
         <li>consectetur</li>
         <li>consectetur</li>
         <li>consectetur</li>
         <li>consectetur</li>
         <li>consectetur</li>
         <li>consectetur</li>
       </ol>
    </td>

    <td><a href="{{ url_for('edit')}}"><button class="btn btn-primary btn-md">Edit</button></a>
  <button class="btn btn-danger btn-md">Delete</button></td>
    
  </tr>
 
</table>

       </div>

       <div class="col-md-1"></div>
     </div>


     <div class="row">
      <div class="col-md-12" id="viewbottom"></div>
    </div>

  </div>

<!-- end container -->




  <div class="row" id="down"></div>

</body>
</html>
